@page
@model MascotaFeliz.App.Frontend.Pages.ListaVisitasPyPModel
@{
}

<body>
    <style>
        body {

            background-image:
                url("https://i.pinimg.com/originals/3d/18/1d/3d181d0fa9abbca2ebdd9b22986c072a.jpg");
            color: white;
            
        }

        .table{
            color: black;
        }

</style>


<h1>Listado de VisitasPyP</h1>
<table class="table">
    <tr>
        <td><h4>Id</h4></td>
        <td><h4>FechaVisita</h4></td>
        

    </tr>

    @foreach (var visitasPyP in Model.ListaVisitasPyP)
    {
        <tr>

            <td>@visitasPyP.Id</td>
            <td>@visitasPyP.FechaVisita</td>
          
            /*<td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesDuenos" asp-route-duenoId="@VisitasPyP.Id">
                    Detalles 
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarDuenos" asp-route-duenoId="@VisitasPyP.Id">
                    Editar 
                </a>
            </td>*/
        </tr>
    }
</table>
<a class = "btn btn-primary table-btn" asp-page="./EditarDuenos" class="btn-default">Adicionar </a>




</body>