@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <img src="C:\Mascotas\MascotaFeliz.App\MascotaFeliz.App.Frontend\Pages\Fenix.jpg" alt="Grupo Fenix" width="460" height="345">
    <h2 class="display-4">GRUPO EMPRESARIAL FENIX</h2>
/    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
